<% @message.each do |message| %>
  <h4>Message <%= message.id%> <small class="text-muted">Posted on <%= message.created_at.strftime("%Y-%m-%d") %></small></h4>
  <% if message.message.length > 200 %>
    <%# message with more that 200 length will be cut of %>
    <p><%= truncate(message.message, length: 200, separator: ' '){ link_to "View all with comment", message_path(message.id) } %></p>
  <% else %>
    <p><%= message.message %> <%= link_to "View comment", message_path(message.id) %></p>
  <% end %>
<% end %> 