<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%# search and filter section %>
      <%= form_with scope: :searching, url: messages_search_path, remote: true, class: "mt-2", method: :get do |form| %>
        <%= form.label :search, "Search", class: "sr-only" %>
        <%= form.text_field :search, class: "form-control", placeholder: "Message number" %>
        <p class="mt-3">Or show all with same category</p>
        <%= form.label :category, "Category:", class: "sr-only" %>
        <%= form.select :category, options_for_select([['Family', 1], ['Relationship', 2], ['Study', 3], ['Work', 4], ['Others', 5]]), prompt: "Please Select", class: "form-control" %>
        <br>
        <%= form.submit "Search", class: "btn btn-outline-success mt-3" %>
      <% end %>
    </div>

    <div class="col-lg-9 mx-auto">
      <%# quote from api will append here %>
      <div id="quoteBlock" class="mt-3">
        <h4 id="quote"></h4>
        <p id="author" class="text-right"></p>
      </div>

      <%# all the message will show here %>
      <div class="row">
        <div class="col-12 text-left" id="messageArea">
          <% @messages.each do |message| %>
            <h4>Message <%= message.id%> <small class="text-muted">Posted on <%= message.created_at.strftime("%Y-%m-%d") %></small></h4>
            <%# message with more that 200 length will be cut of %>
            <% if message.message.length > 200 %>
              <p><%= truncate(message.message, length: 200, separator: ' '){ link_to "View all with comment", message_path(message.id) } %></p>
            <% else %>
              <p><%= message.message %> <%= link_to "View comment", message_path(message.id) %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>