<div class="container">
  <div class="row">
    <%# show delete button for admin to delete directly even not request and report %>
    <% if signed_in? and current_user.role === "admin" %>
      <div class="mx-auto mt-3">
        <%= button_to "Delete this message", message_path(@message.id), class: "btn btn-danger", method: :delete %>
      </div>
    <% end %>
    <%# show report button if message owner is not current user %>
    <% if signed_in? and current_user.id != @message.user.id and current_user.role != "admin" %>
      <div class="mx-auto mt-3">
        <% if !@message.reports.empty? %>
          <%# check if the current user reported the message or not %>
          <% @message.reports.each do |report| %>
            <% if report.user.id === current_user.id %>
              <%= button_to "Reported. Click to cancel.", message_report_path(message_id: @message.id, id: report.id), class: "btn btn-primary", method: :delete %>
              <% break %>
            <% end %>
            <%= button_to "Report this message", message_reports_path(@message.id), class: "btn btn-warning" %>
          <% end %>
        <% else %>
          <%= button_to "Report this message", message_reports_path(@message.id), class: "btn btn-warning" %>
        <% end %>  
      </div>
    <%# show delete request button if message owner is current user %>
    <% elsif signed_in? and current_user.id === @message.user.id and current_user.role != "admin" %>
      <div class="mx-auto mt-3" id="deleteOrMessage">
        <%# not request delete before %>
        <% if @message.delete_request.nil? %>
          <%# using modal to let user to enter reason before submit delete request %>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteMessage">
            Delete Message
          </button>
          
          <%# modal start %>
          <div class="modal fade" id="deleteMessage" tabindex="-1" role="dialog" aria-labelledby="deleteMessageTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteMessageTitle">Delete Message Request</h5>
                </div>
                <%= form_with scope: :delete_message, url: "/messages/delete_request/#{@message.id}" , local: true do |form| %>
                  <div class="modal-body">
                    <%= form.label :reason, "Reason", class: "sr-only" %>
                    <%= form.text_area :reason, class: "form-control", placeholder: "Reason", style: "height: 100px" %>
                  </div>
                  <div class="modal-footer">
                    <%= button_tag "Close", type: "button", class: "btn btn-secondary", data: { dismiss: "modal" } %>
                    <%= form.submit "Submit request", class: "btn btn-warning", data: { confirm: 'Confirm?' } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <%# requested by rejected %>
        <% elsif @message.delete_request === '<i class="fas fa-exclamation-circle"></i>' %>
          <%# another modal to let user to appeal and request again %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteMessageDenied">
            <i class="fas fa-exclamation-circle"></i> Delete Request Denied. Request again to appeal.
          </button>

          <%# modal start here %>
          <div class="modal fade" id="deleteMessageDenied" tabindex="-1" role="dialog" aria-labelledby="deleteMessageDeniedTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteMessageDeniedTitle">Delete Message Request Appeal</h5>
                </div>
                <%= form_with scope: :delete_message, url: "/messages/delete_request/#{@message.id}" , local: true do |form| %>
                  <div class="modal-body">
                    <%= form.label :reason, "Reason", class: "sr-only" %>
                    <%= form.text_area :reason, class: "form-control", placeholder: "Reason", style: "height: 100px" %>
                  </div>
                  <div class="modal-footer">
                    <%= button_tag "Close", type: "button", class: "btn btn-secondary", data: { dismiss: "modal" } %>
                    <%= form.submit "Submit request", class: "btn btn-warning", data: { confirm: 'Confirm?' } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <%# requested and not yet being handle by admin %>
        <% else %>
          <div class="card text-white bg-primary">
            <div class="card-body p-1">
              <h5 class="card-title m-0">Delete Requested</h5>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%# show the message %>
    <div class="card mt-4 w-100">
      <%# got image put image %>
      <% if !@message.upload.file.nil? %>
        <%= image_tag @message.upload.url, class: "card-img-top img-fluid w-100" %>
      <% end %>
      <div class="card-body">
        <h3 class="card-title">Message <%= @message.id %> <small class="text-muted">at <%= @message.created_at.strftime("%Y-%m-%d") %></small></h3>
        <p class="card-text"><%= @message.message %></p>
      </div>
    </div>

    <%# comments of the message %>
    <div class="card card-outline-secondary my-4 w-100">
      <div class="card-header">
        Comments
      </div>
      <div class="card-body">
        <div id="commentBlock">
          <% if @message.comments.size > 0 %>
            <% @message.comments.each do |comment| %>
              <%# show delete button if the comment belong to current user %>
              <% if signed_in? && current_user.id === comment.user.id %>
                <%= form_with scope: :delete_comment, url: comment_path(comment.id), remote: true, method: :delete do |form| %>
                  <p><%= comment.text %>  <%= form.submit "Delete", class: "btn btn-lg btn-primary py-0 btn-sm" %></p>
                <% end %>
              <% else %>          
                <p><%= comment.text %></p>
              <% end %>
              <small class="text-muted">Comment on <%= comment.created_at.strftime("%Y-%m-%d") %></small>
              <hr>
            <% end %>
          <% end %>
        </div>
        <%# post new comment field, signed in, show the field, else show button to go to sign in form %>
        <% if signed_in? && current_user.role === "user" %>
          <%= form_with scope: :new_comment, url: comments_path, remote: true do |form| %>
            <p>
              <%= form.label :comment, "comment", class: "sr-only" %>
              <%= form.text_area :comment, class: "form-control", placeholder: "Message" %>
            </p>
            <p><%= form.hidden_field :message_id, :value => @message.id %></p>
            <p class="my-0 text-right">
              <%= form.submit "Comment", class: "btn btn-lg btn-primary py-0" %>
            </p>
          <% end %>
        <% elsif !signed_in? %>
          <div class="text-center">
            <%= button_to "Sign in please", new_session_path, class: "btn btn-lg btn-primary py-0", method: :get %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>